# This is your Caddy configuration. This default config
# opens a port and serves a static site from the www folder.
# Edit this file according to your needs.

:{$80} {
    # Manual health check to satisfy Railway's deployment
    handle / {
        respond "OK" 200
    }

    # Proxy to your backend
    handle {
        reverse_proxy caldera.railway.internal:8888
    }
}
